[Desktop Entry]
Type=Application
Version=1.0
Name={{name}}
GenericName=Terminal SSH/SFTP
Comment={{comment}}
Exec={{exec}} %U
Icon={{icon}}
Terminal=false
Categories=Development;Network;TerminalEmulator;
Keywords=ssh;sftp;terminal;shell;remote;servidor;pixel;agents;
StartupNotify=true
StartupWMClass=cloudterm
MimeType=x-scheme-handler/ssh;
